// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.occupied_timetable {
    .occupying_person {
        position: absolute;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
    }
    &:hover{
        .occupying_person{
            border:1px solid blue;
            height: 20px;
            background-color: #4a5568;
            color:white;
            opacity: 1;
            visibility: visible;
        }
    }
}

.shopImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 5px;
    @media screen and (max-width: 480px) {
        width: 100%;
        height: 150px;
        object-fit: cover;
        padding: 5px;
    }
}


.shopImagePage{
    width: 100%;
    height:500px;
    object-fit: cover;
    margin: 4px;
    @media screen and (max-width: 480px) {
        width: 200px;
        height: auto;
        object-fit: cover;
        padding: 5px;
    }
}


